@import "../../App.scss";
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.hero {
  height: 88.5vh;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  display: flex;
  align-items: center;
  overflow: hidden;
  .video {
    > video {
      width: 100vw;
      opacity: 0.8;
    }
    > div {
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 10vh;
    }
    .text {
      position: absolute;
      top: 25vh;
      left: 30vw;
      height: 40vh;
      width: 50vw;

      > h2 {
        color: hsla(255, 80%, 49%, 0.76);
        font-family: $text;
        letter-spacing: 10px;
        padding: 1rem;
        font-size: 2.5em;
        font-weight: 1000;
        padding-bottom: 1.5rem;
        font-family: $heading;
        font-weight: 900;
      }
      > h1 {
        font-family: $text;
        font-size: 3em;
        font-weight: 800;
      }
      .btn {
        position: absolute;
        top: 25vh;
        left: 7vw;
        cursor: none;
        .button {
          margin: 1rem;
          width: 7.5rem;
          height: 2.5rem;
          border-radius: 0.5rem;
          border: 1px solid white;
          background: transparent;
          color: white;
          cursor: none;
          font-weight: 300;
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
}

.cursor {
  width: 26px;
  height: 26px;
  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.3s;
  pointer-events: none;
  z-index: 1200;
}

.cursorHover {
  transform: scale(3);
  border: none;
  box-shadow: 0 0 10px red;
}
.cursorHoverMini {
  transform: scale(0.5);
  box-shadow: 0 0 20px red;
}
@media only screen and (max-width: 845px) {
  .hero .video .text {
    position: absolute;
    top: 10vh;
    left: 13vw;
    height: 40vh;
    width: 87vw;
  }
  .hero .video .text > h2 {
    font-size: 1.5em;
  }
  .hero .video .text > h1 {
    font-size: 2em;
    font-weight: 600;
  }
  .hero .video .text .btn {
    top: 29vh;
  }
  .cursor {
    display: none;
  }
  .hero .video > video {
    position: absolute;
  }
  .hero {
    background: black;
  }
}
